---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---

<Layout title="旅人たちの紡歌 - Index">
	<main>
		<section>
			<h2>
				アバウト
			</h2>
			<article>
				オリジナル小説サイト。<br>
				傾向：旅するファンタジー／ちょっと不思議な現代もの／なんちゃってホラー風味／シリアス多め／アンハッピーエンド多め
			</article>
		</section>
		<section>
			<h2>
				更新履歴
			</h2>
			<article>
				<ul>
					<li>
						2017/09/03 「<a href="">ちっこいといっしょ！～夏祭り編～</a>」
					</li>
					<li>
						2016/03/08 <a href="white/top.html">眠りの白に導かれ</a> <a href="white/038t.html">終章「繰り返される物語</a>」完結しました！ありがとうございました！
					</li>
					<li>
						2016/03/07 <a href="white/top.html">眠りの白に導かれ</a> <a href="white/037g.html">8章「眠りの白に導かれ」-02</a>
					</li>
				</ul>
			</article>
		</section>
		<section>
			<h2>
				作品一覧
			</h2>
			<h3>
				連載中
			</h3>
			<Card
				title="廻りめぐる季節～還る場所へ～"
				genre="短編連作／異世界／学園／群像劇"
				description="リトワール国立学院に通う学生たちの生活を描いた異世界ファンタジー連作。"
				href="./school"
				banner="./banner/school.jpg"
			/>
		</section>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 100ch;
	}

	h2 {
		margin: 9px 0;
		padding: 2px 8px;
		color: #fff;
		background-color: #666;
		font-weight: bold;
		letter-spacing: 2px;
	}

	h3 {
		border-left: 3px double;
		padding-left: 10px;
		margin-bottom: 8px;
	}

	article {
		padding: 2px 15px;
	}

	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}
</style>
