---
export interface Props {
  back: string
  next: string
}

const { back, next } = Astro.props

const backLink: string = "../" + back
const nextLink: string = "../" + next

const backText: string = "ＢＡＣＫ"
const nextText: string = "ＮＥＸＴ"
---

<div class="page-nav">
  {back !== null ? <a href={backLink}>{backText}</a> : <span />}
  {back !== null || next !== null ? <span>&nbsp;|&nbsp;</span> : <span />}
  {next !== null ? <a href={nextLink}>{nextText}</a> : <span />}
</div>

<style>
  .page-nav {
    margin: 3px 0;
  }
</style>
